apiVersion: v1
kind: Service
metadata:
  name: <YOUR-DEPLOYMENT-NAME>
  labels:
    app: <YOUR-APPLICATION-NAME>
spec:
  ports:
    - port: 8080
  selector:
    app: <YOUR-APPLICATION-NAME>
    tier: backend
  type: LoadBalancer